# Dependencies
node_modules/
*/node_modules/

# Environment files
.env
backend/.env

# Upload folders
backend/uploads/

# Build output
frontend/dist/
frontend/build/
# docs folder is kept for GitHub Pages

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
